@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Navigation*/

ul#menu{  
    position: fixed;
    padding: 0;
    list-style: none;
    background-color: #e3e3e3;
    min-width: 250px;
    height: 100vh;
    transform: translateX(-250px);
    transition: 500ms;
}

ul#menu.active{
    transform: none;
}

ul#menu li a{
    display: block;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #c5c3c3;
    text-transform: capitalize;
    cursor: pointer;
}

#btn{
    all: unset;
    position: fixed;
    right: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}


/*Dropmenu*/

.menu{
    display: flex;
    padding: 0;
    list-style: none;
    background-color: aliceblue;
}

.menu li a{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
}

.dropmenu{
    position: relative;
}

.sub-menu{
    list-style: none;
    position: absolute;
    display: none;
}

.show{
    display: block !important;
}

.active{
    background-color: rgba(80, 66, 232, 0.5);
    color: #f51212 !important;
}